/* Ajuste de márgenes */
.pagedjs_page {
  pagedjs-margin-top: 0.5in;
  pagedjs-margin-bottom: 0.1in;
}

/* Alinea la foto con el título */
.aside {
  padding-top: -0.5in;
}

.aside > p:first-of-type {
  margin-top: -0.5in;
}
